body {
    margin: 10px;
}

.header {
    height: 50px;
}

.top {
    height: 40px;
    margin-top: 4px;
    margin-top: 10px;
    display: table;
    width: 100%;
    text-align: center;
    display: inline-block;
}

#social, #title {
    vertical-align: top;
    margin: 5px;
}

#social {
    position: absolute;
    right: 0;
    float: right;
}

#title {
    position: absolute;
    left: 0;
}

.categoriesAndTags {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: large;
}

.column {
    float: left;
}

.left {
    width: 13%;
}

.right {
    width: 87%;
}

.row {
    position: page;
    display: flex;
}

article {
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 4px #636363;
    border-radius: 5px;
    width: 250px;
    display: inline-flex;
    height: 350px;
}

.bookImg {
    box-shadow: 2px 2px 4px #000000;
    display: block;
    margin: 5px auto 0px auto;
    width: 78%;
    display: block;
    align-content: center;
}

.bookText {
    margin: 2px 5px 0px 5px;
    text-align: center;
}

.pSameLine {
    display: inline-block;
}

.mycontent-left {
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 5px;
}

.mycontent-bottom {
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 5px;
}

.checkBoxMargin {
    margin-left: 20px;
}

.floatRight {
    float: right;
    margin-right: 10px;
}

.window {
    position: relative;
    margin: 1em auto;
    overflow-x: hidden;
    height: 390px;
    overflow-y: hidden;
}

.menu {
    margin: 0;
    padding: 0;
    height: 410px;
    list-style-type: none;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}


.menu-item {
    display: inline-block;
}
