.columnLeft {
    float: left;
    width: 5%;
    align-content: center;
}

.columnRight {
    float: left;
    width: 95%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
