@model IEnumerable<LibrARRRy.Models.Book>
@{
    ViewBag.Title = "ManageAll";
}
<link href="~/Content/ManageAllSheet.css" rel="stylesheet" />

<div class="row" style="margin:10px; align-content: center;">
    <div class="col-sm-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>TEST</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>TEST</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>TEST</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>TEST</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-11" style="border-left: 1px solid #eee;">
        @{
            Html.RenderPartial("_BookList", Model);
        }
    </div>
</div>