@using LibrARRRy.Models

@model dynamic

@{
    ViewBag.Title = "ManageAll";
}

@section Styles {
    <link href="~/Content/ManageAllSheet.css" rel="stylesheet" />
 }

<div class="row" style="margin:10px; align-content: center;">
    <div class="col-sm-1">
        <ul class="nav nav-pills nav-stacked" id="manage">
            <li id="Books"><a href="#Books">Books</a></li>
            <li id="Authors"><a href="#Authors">Authors</a></li>
            <li id="Categories"><a href="#Categories">Categories</a></li>
            <li id="Tags"><a href="#Tags">Tags</a></li>
            <li id="Storages"><a href="#Storages">Storages</a></li>
            <li id="Readers"><a href="#Readers">Readers</a></li>
            <li id="Loans"><a href="#Loans">Borrows</a></li>
        </ul>
    </div>
    <div class="col-sm-11" style="border-left: 1px solid #eee;" id="render">
        <div id="BooksDiv">
            @{
                Html.RenderPartial("_BookList", Model.Books as IEnumerable<LibrARRRy.Models.Book>);
            }
        </div>
        <div id="AuthorsDiv" style="display:none;">
            @{
                Html.RenderPartial("_AuthorsList", Model.Authors as IEnumerable<LibrARRRy.Models.Author>);
            }
        </div>
        <div id="CategoriesDiv" style="display:none;">
            @{
                Html.RenderPartial("_CategoriesList", Model.Categories as IEnumerable<LibrARRRy.Models.Category>);
            }
        </div>
        <div id="TagsDiv" style="display:none;">
            @{
                Html.RenderPartial("_TagsList", Model.Tags as IEnumerable<LibrARRRy.Models.Tag>);
            }
        </div>
        <div id="StoragesDiv" style="display:none;">
            @{
                Html.RenderPartial("_StoragesList", Model.Storages as IEnumerable<LibrARRRy.Models.Storage>);
            }
        </div>
        <div id="ReadersDiv" style="display:none;">
            @{
                Html.RenderPartial("_ReadersList", Model.Readers as IEnumerable<LibrARRRy.ViewModel.ConfirmReadersViewModel>);
            }
        </div>
        <div id="LoansDiv" style="display:none;">
            @{
                Html.RenderPartial("_LoansList", Model.Loans as IEnumerable<LibrARRRy.Models.Loan>);
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            var string = '@ViewBag.PreviousUrl';
            $("#render").children().each(function (i, elm) {
                $(this).hide();
            });

            $("#manage li").each(function () {
                if ($(this).has('active')) {
                    if (string == '/' || string.includes("Workers")) {
                        if (this.id == "Books") {
                            $("#" + this.id + "Div").show();
                            $(this).addClass('active');
                        }
                    } else if (string.includes(this.id)) {
                        $("#" + this.id + "Div").show();
                        $(this).addClass('active');
                    }
                    else if (string == '/ManagePanel/All') {
                        $("#ReadersDiv").show();
                        $("#Readers").addClass('active');
                    }
                };
            });

            $("#manage li").click(function (e) {
                var id = this.id;
                $("#render").children().each(function (i, elm) {
                    $(this).hide();
                });
                $("#" + id + "Div").show();

                $("li").each(function () {
                    $(this).removeClass('active');
                });
                $(this).addClass('active');
            });
        });
    </script>
}