@model IEnumerable<LibrARRRy.Models.Author>

@{
    ViewBag.Title = "Authors";
}

<h2>Authors List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{
    Html.RenderPartial("_AuthorsList", Model);
}
